/* ⚠️⚠️⚠️ Estilos globales ⚠️⚠️⚠️ */
* {
  transition:
    background-color 0.3s ease,
    max-height 0.3s ease-out,
    padding 0.3s ease-out,
    filter 0.3s ease,
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease,
    box-shadow 0.3s;


  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/* 🛑⚪🛑⚪🛑⚪🛑⚪🛑⚪🛑*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0d0d0d;
  margin: 0;
  background-color: #ffffff;
  min-height: 100vh;
  text-align: center;
}

body.hidden {
  overflow: hidden;
}


.dark-theme {
  background-color: #0d0d0d;
  color: #b2cdc0;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  /* Alineación vertical */
  justify-content: space-between;
  /* Espaciado entre elementos */
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.dark-theme header {
  background-color: #0d0d0d;
}

/* Select y toggle */
#language-select {
  font-size: 1rem;
  color: #838383;
  border: 1px none;
  background-color: transparent;
  cursor: pointer;
}

#theme-toggle {
  font-size: 1rem;
  background: transparent;
  margin-right: 30px;
  border: none;
  cursor: pointer;
}


/* ⚠️⚠️⚠️ Contenido ⚠️⚠️⚠️ */

.mainContainer {
  max-width: 800px;
  width: 100%;
  padding: 80px 0 120px;
}

/* 🛑⚪🛑⚪🛑⚪🛑⚪🛑⚪🛑*/
/* ⚠️⚠️⚠️ PORTADA CURSO ⚠️⚠️⚠️ */
.image-wrapper {
  position: relative;
  background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #fbc2eb, #a1c4fd);
  background-size: 300% 300%;
  animation: gradientBackground 15s infinite;
  overflow: hidden;
  height: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Fondo animado */
@keyframes gradientBackground {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

/* Estilos generales de texto dentro de la imagen */
.background-text,
.timer2 {
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
}

/* Nombre del curso */
.background-text {
  top: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  white-space: pre-wrap;
}

/* Temporizador */
.timer2 {
  top: 10%;
  font-size: 1rem;
  color: #fff;
}

/* Sección de precios y botones */
.price-section {
  position: absolute;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
  top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 10pt;
  background-color: rgba(255, 255, 255, 0.474);
  padding: 10px;
  border-radius: 25px;
}

/* Precios */
#precioAhora {
  color: #297a2c;
  font-weight: bold;
}

#descuento {
  color: #e32311;
  font-weight: bold;
}

#precioAntes {
  text-decoration: line-through;
  color: #858585;
}

/* Imagen de perfil */
.imgProfile {
  display: block;
  width: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
}

.imgProfile:hover {
  transform: scale(1.02);
}

/* Botón de compra */
.comprar {
  position: absolute;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  z-index: 2;
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
  text-decoration: none;
  border-radius: 25px;
}

/* ⚠️⚠️⚠️ 2 PARA QUIEN ES EL CURSO ⚠️⚠️⚠️ */
.course-section {
  text-align: center;
  padding: 20px;
}

.course-section h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Contenedor de las tarjetas */
.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 2 columnas por defecto (teléfonos) */
  gap: 10px;
  /* Espacio entre las tarjetas */
}

@media (min-width: 768px) {

  /* Cambia a 4 columnas en pantallas más anchas */
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.dark-theme .card {
  background-color: #212121;
}

.card-img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}

.card p {
  font-size: .7rem;
  font-weight: 400;
  text-align: left;
}


/* checkbox*/
.card-checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Checkbox base */
.card-checkbox {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

/* Estado no seleccionado */
.card-checkbox:checked {
  background-color: #ffffff;
  border-color: #ffffff;
}

.dark-theme .card-checkbox:checked {
  background-color: #212121;
  border-color: #212121;
}

/* Icono de check dentro del checkbox */
.card-checkbox:checked::before {
  content: "❌";
  display: block;
  margin-left: -2px;
  text-align: center;
  line-height: 13px;
}

/* Cambiar el color del texto cuando está seleccionado */
.card-checkbox p {
  font-size: .8rem;
}

.card-checkbox:checked+p {
  color: #af4c4c;
  font-weight: bold;
}

/* Hover en el checkbox */
.card-checkbox:hover {
  border-color: #d72828;
}

/* ⚠️⚠️⚠️ ABOUT ME ⚠️⚠️⚠️ */
.nutri-image-wrapper {
  position: relative;
  background: linear-gradient(-45deg, #fceabb, #b8d8bc, #ffe5c6, #fae3d9);
  background-size: 300% 300%;
  animation: nutri-gradientBackground 15s infinite;
  overflow: hidden;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Fondo animado */
@keyframes nutri-gradientBackground {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

/* Nombre de la nutricionista */
.nutri-background-text {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  color: #0d0d0d;
  text-align: center;
  z-index: 3;
  text-transform: uppercase;
  height: 700px;
}

/* Botones de redes sociales */
.nutri-social-buttons {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 50px;
  top: 0%;
  display: flex;
}

.nutri-social-button img {
  width: 50px;
  height: 50px;
}

/* Imagen de perfil */
.nutri-imgProfile {
  width: 100%;
  height: 100%;
  position: relative;
  top: 40px;
  object-fit: cover;
  z-index: 2;
}

.nutri-imgProfile:hover {
  transform: scale(1.02);
}

/* Descripción debajo de la imagen */
.nutri-description {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

/* ⚠️⚠️⚠️ PROGRAMA CURSO  ⚠️⚠️⚠️ */

#programaCurso {
  padding: 20px;
  text-align: left;
}

/* Título del acordeón */
.accordion-title {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #3f6954;
  color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
}

.accordion-title:hover {
  background-color: #264636;
}

/* Contenido del acordeón oculto por defecto */
.accordion-content {
  display: block;
  max-height: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #e2d4c3;

}

.dark-theme .accordion-content {
  background-color: #0d0d0d;
  border-left: 2px solid #0d0d0d;
  border-right: 2px solid #0d0d0d;
  border-bottom: 2px solid #212121;

}

/* Estilo para las listas dentro del acordeón */
.accordion-content li {
  margin-bottom: 20px;
  margin-left: -40px;
  /* Reducido el margen para que se vea más compacto */
}

/* Estilo de la flecha */
.accordion-content li::before {
  content: "→";
  margin-right: 10px;
  display: inline-block;
  transform: scaleX(2);
}

/* La clase show se agrega cuando el acordeón está abierto */
.accordion-content.show {
  max-height: 800px;
}


/* ⚠️⚠️⚠️ testimonios y certificados⚠️⚠️⚠️ */
.carrusel-container {
  height: 450px;
  background-image: url('./src/backgroundPhone.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Hace que el fondo sea estático */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.dark-theme .carrusel-container {
  background-image: url('./src/backgroundPhone2.webp');
  background-attachment: fixed;
  /* También aplicamos fondo estático aquí */
}


/* Carrusel horizontal */
.carrusel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  gap: 10px;
  padding: 20px;
}

/* Estilos de las imágenes */
.imagen {
  width: 100%;
  height: 100%;
  object-fit: contain;
  scroll-snap-align: center;
  flex-shrink: 0;
}


/* Efecto de imán suave */
.carrusel::-webkit-scrollbar {
  display: none;
}

/* Transiciones suaves al hacer scroll */
.carrusel img:focus {
  transform: scale(1.3);
}

/* ⚠️⚠️⚠️ resultados ⚠️⚠️⚠️ */

.results-section {
  text-align: left;
  padding: 20px;
}

.results-title h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.results-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.result-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  border-radius: 8px;
}

.result-item:hover {
  transform: scale(1.03);

}

.icon {
  font-size: 32px;
  flex-shrink: 0;
}

.result-item p {
  font-size: 1rem;
  margin: 0;
}

/* ⚠️⚠️⚠️ Footer ⚠️⚠️⚠️ */
footer {
  background-color: #f8f9fa;
  /* Fondo claro y moderno */
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  /* Sombra para destacar el footer */
  padding: 5px 0;
}

.dark-theme footer {
  background-color: #343a40;
  /* Fondo oscuro en el modo oscuro */
}

footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* Espacio más amplio entre elementos */
  padding: 10px;
}

footer .social-icons a {
  padding: 15px 20px;
}

footer .social-icons a:hover {
  text-decoration: underline;
}

.botonComprar {
  display: inline-block;
  padding: 10px 25px;
  /* Botón más grande */
  font-size: 1.1rem;
  /* Fuente ligeramente más grande */
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  /* Color azul moderno */
  border: none;
  /* Sin bordes */
  border-radius: 25px;
  /* Bordes redondeados */
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  /* Animación suave */
}

.botonComprar:hover {
  background-color: #0056b3;

}

.botonComprar:active {
  background-color: #003f8c;
  transform: scale(1);
}

footer #timer2 {
  font-size: 0.9rem;
  font-weight: normal;
  margin-left: 15px;
}
